.navbar-2 {
    width: 85%;
}

.banner-sec-1 {
    padding-top: 10vh;
}

.banner-text-1 {
    font-size: 8vh;
}

.discount {
    position: absolute;
    top: 32vh;
    right: 32vh;
    padding: 2vh;

}



.owl-carousel .owl-nav {
    text-align: right;
    font-size: 20;
}


.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: rgb(145, 147, 148);
    border: solid 2px rgb(6, 6, 6);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background-color: rgb(71, 114, 255);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 10px 5px;
    color: white;

}

.employee {
    width: 20vh;
}

.product-nav {
    text-decoration: none;
    color: black;
}

.card-product {
    margin-top: 2vh;
    margin-right: 1vh;
}

.card:hover {
    /* box-shadow: 3px 3px #888888; */
    box-shadow: 0 .5rem 1rem black;
}

.card-img {
    border-radius: 15px;
}

.footer-atag {
    text-decoration: none;
    color: black;
}

.footer-font {
    font-size: 3vh;
}

@media only screen and (max-width:600px) {
    .navbar-mob {
        list-style: none;
    }

    .banner-sec-1 {
        text-align: center;
    }

    .discount {
        position: absolute;
        top: 8vh;
        right: 2vh;

    }

    .banner-sec-2 {
        position: relative;
        width: 100%;
    }

    .product-nav {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
}

@media only screen and (max-width:1200) {
    .navbar-mob {
        list-style: none;
    }

    .banner-sec-1 {
        text-align: center;
    }

    .discount {
        position: absolute;
        top: 56vh;
        right: 18vh;

    }

    .banner-sec-2 {
        position: relative;
        width: 100%;
    }

    .product-nav {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
}